
#dtframe {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}

#time-text {
    font-size: 100px;
    margin-bottom: 0px;
}

#time-p-label {
    padding-top: 50px;
    font-size: 30;
}

#date-text {
    font-size: 30px;
    padding-left: 3px;
}

#day-text {
    padding-left: 3px;
}

#toolframe {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#dashboard-tool1, #dashboard-tool2, #dashboard-tool3 {
    border: 1px solid #9999ff;
    border-collapse: separate;
    padding: 10px;
    margin: 0;
    background-color: #9999ff;
    color: white;
    font-family: 'Oswald';
    font-size: 15px;

}

#dashboard-tool1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#dashboard-tool3 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#entrysection-heading, #ordersection-heading, #statsection-heading, #stocksection-heading{
    font-family: 'Righteous';
    font-size: 30px;
    color: #5555ff;
    border-radius: 0px;
    border-bottom: 1px solid #1111ff;
    /*text-decoration-line: underline;*/
}

#dashboard-entrysection{
    border: 2px solid #9999ff;
    border-radius: 20px;
}

#dashboard-ordersection, #dashboard-statsection, #dashboard-stocksection {
    border: 2px solid #9999ff;
    border-radius: 20px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    margin-top: 10px;
}



#dashboard-stocksection {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

#dashboard-entrysection-sub1,
#dashboard-entrysection-sub2,
#dashboard-ordersection-sub1,
#dashboard-statsection-sub1,
#dashboard-stocksection-sub1,
#dashboard-stocksection-sub2{
    /*border: 1px solid #9999ff;*/
    text-align: center;
    border-radius: 30px;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 170px;
    
}

#dashboard-entrysection-sub1,
#dashboard-entrysection-sub2 {
    margin: 30px;
}

#dashboard-stocksection-sub1,
#dashboard-stocksection-sub2 {
    margin: 10px;
}

#dashboard-ordersection-sub1, #dashboard-statsection-sub1 {
    margin: 7px;
}

#dashboard-entrysection-label-sub1,
#dashboard-entrysection-label-sub2,
#dashboard-ordersection-label-sub1,
#dashboard-statsection-label-sub1,
#dashboard-stocksection-label-sub1,
#dashboard-stocksection-label-sub2 {
    font-family: 'Oswald';
    font-size: 20px;
    color: #5555ff;
    text-align: center;
    border-top: 5px;
}

QFrame::hover#dashboard-entrysection-sub1, QFrame::hover#dashboard-entrysection-sub2 {
    /*border: 2px solid #7777ff;*/
    background-color: #eaeaea;
}

QFrame::hover#dashboard-statsection-sub1, QFrame::hover#dashboard-ordersection-sub1 {
    /*border: 2px solid #7777ff;*/
    background-color: #eaeaea;
}

QFrame::hover#dashboard-stocksection-sub1, QFrame::hover#dashboard-stocksection-sub2 {
    /*border: 2px solid #7777ff;*/
    background-color: #eaeaea;
}

/*___________________ Entry Window ___________________*/


#entrylistframe {
    background-color: #efefff;
    padding-top: 0px;
    padding-top: 5px;
    border-right: 1px solid #cfcfff;
}

#entrylistarea {
    background-color: #efefff;
    margin: 0px;
    /*border-right: 1px solid #5555ff;*/
    /*border-right: 2px solid #cccccc;*/
}

#entrylist-heading-frame {
    background-color: #efefff;
    min-width: 300px;
    /*padding-right: 20px;*/
}

/*#entrylist-heading {
    font-family: 'Righteous';
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    border-radius: 0px;
    background-color: #5555ff;
}*/

#entrylist-searchbar {
    border: 1px solid #55f;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

#entrylist-add-btn, #entrylist-remove-btn {
    padding: 9px;
    padding-right: 15px;
    /*border: 1px solid #55f;*/
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

#entrylist-add-btn {
    background:  url("icons/plus_1.png");
}

#entrylist-remove-btn {
    background: url("icons/minus_1.png");
}

#entrylistitem {
    border: 1px solid #ddd;
    margin: 2px;
    margin-right: 0px;
    margin-left: 0px;
    /*border-radius: 10px;*/
    background-color: #f9f9f9;
    color: black;
}

#entrylistitem::hover {
    background-color: #aaa;
}

#entrylistarea-vscrollbar {
    border: 0px;
    max-width: 5px;
    background: #7777ff solid;

}

#entrylistarea-vscrollbar::handle {
    background-color: #eee;
    border-radius: 2px;
}

#entrylistarea-vscrollbar::add-page {
    background: #fff;
}

#entrylistarea-vscrollbar::sub-page {
    background: #fff;
}

#entrylistitem-vname {
    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 500;
    color: #55f;
}

#entrylistitem-vnum {
    font-family: 'Barlow';
    font-size: 17px;
    font-weight: 100;
    color: #999;
}

#entrylistitem-vdate {
    font-family: 'Barlow';
    font-size: 15px;
    font-weight: 100;
    color: brown;
}

#entrylistitem::hover {
    background-color: #eee;
}

/*_____________________ New Entry Window _________________*/

#new-entry-widget {
    background-color: #efefff;
    border: 0px;
}

#new-entry-heading {
    font-family: 'Oswald';
    font-size: 25px;
    text-align: center;
    color: #55f;
    border-radius: 0px;
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
}

#new-entry-vname-label,
#new-entry-vnum-label, 
#new-entry-cinfo-label, 
#new-entry-date-label {
    font-size: 16px;
    font-family: "Righteous";
    color: #333399;

}

#new-entry-vname-edit,
#new-entry-vnum-edit,
#new-entry-cinfo-edit, 
#new-entry-date-edit {
    background-color: #f5f5ff;
    border: 1px solid #55f;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Barlow';
}

#new-entry-create-button {
    border: 1px solid #0c0;
    background-color: #22f;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


/*________________________ EntryShow ___________________*/

#entryshowframe {
    /*background-color: white;*/
    margin: 0px;
    padding-left: 50px;
    background-color: #efefff;
}

#vname-heading {
    font-size: 40px;
    color: #5555ff;
    font-family: 'Righteous';
}

#vnum-heading {
    font-size: 20px;
    color: #000;
    font-family: 'Righteous';
}

#items-heading {
    font-size: 30px;
    color: #55f;
    font-family: 'Oswald';
    border-radius: 0px;
    border-bottom: 1px solid #55f;
    font-weight: 500;
}

#item-select-box, #part-select-box, #item-price-box {
    font-size: 17px;
    border: 1px solid #55f;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    font-family: 'Barlow';
    font-weight: 800;
    color: #00a;
}

#part-select-box QAbstractItemView, #item-select-box QAbstractItemView {
    color: #55f;
    background-color: white;
    selection-background-color:  #55f;
    selection-color: white;
}

/*#item-select-box QAbstractItemView {
    color: #55f;
    background-color: white;
    selection-background-color:  #55f;
    selection-color: white;
}*/

#item-price-box {
    border-radius: 10px;
}

#item-add-button, #item-delete-button {
    border: 1px solid #55f;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-image: url("icons/item_add.png");
    background-repeat: no-repeat;
    background-position: center;
}

#item-delete-button {
    background-image: url("icons/item_delete.png");
}


#items-table-vscrollbar {
    max-width: 2px;
}


#entry-checkout-button {
    padding: 10px;
    color: white;
    background-color: #5555ff;
    border: 1px double #008800;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

#entryshowframe QTableView {
    selection-color: black;
    border: 1px solid #efefef;
    text-align: center;
    outline: 0;
    border-radius: 5px;
    background-color: #efefff;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #cfcfff;
    padding-bottom: 40px;
}

#entryshowframe QTableView::item {
    background-color: #efefff;
    font-weight: 100;
    color: #33f;
}

#entryshowframe QTableView::item:selected {
    border: 1px solid #55f; 
}

#entryshowframe QTableView::item:hover {
    background-color: #f5f5f5;
}


#entryshowframe QTableCornerButton::section {
    background-color: #efefff;
}

#entryshowframe QHeaderView::section {
    background-color: #efefff;
    color: #55a;
    border: 0px solid #55f;
    font-weight: 500;
    padding: 5px;
    font-size: 17px;
}

#entryshowframe QHeaderView {
    background-color: #efefff;
}

#entry-item-increment-button, #entry-item-decrement-button, #entry-item-delete-button {
    font-size: 15px;
    font-weight: 700;
}

#entry-item-increment-button {
    color: green;
    border: 1px solid green;
    font-weight: 800;
    font-size: 16;
}

#entry-item-decrement-button {
    color: darkorange;
    border: 1px solid darkorange;
    font-size: 20px;
}

#entry-item-delete-button {
    color: red;
    border: 1px solid red;
}

#entry-item-increment-button::hover {
    background-color: green;
    color: white;
}

#entry-item-decrement-button::hover {
    background-color: darkorange;
    color: white;
}

#entry-item-delete-button::hover {
    background-color: red;
    color: white;
}

#entry-checkout-result-window {
    border: 1px solid #ccc;
}

#entry-checkout-result-text {
    font-size: 20px;
    color: red;
}



/*_______________________ Items Window _________________________*/

#itemswindow-heading {
    font-size: 20px;
    color: brown;
    border-radius: 0px;
    padding-bottom: 3px;
    border-bottom: 1px solid brown;
}

#itemswindow-searchbar, #itemswindow-typebox {
    border: 1px solid maroon;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: 800;
    color: #500;
}

#itemswindow-typebox::drop-down {
    background: url("icons/down_arrow_1.png");
    background-repeat: no-repeat;
    background-position: center;
}

#itemswindow-item-add-button, #itemswindow-item-remove-button {
    border-radius: 5px;
    padding: 7px;
    background-position: center;
    background-repeat: no-repeat;
}

#itemswindow-item-add-button {
    border: 1px solid green;
    /*background-image: url("./icons/plus_1.png");*/
}

#itemswindow-item-remove-button {
    border: 1px solid red;
    /*background-image: url("./icons/minus_1.png");*/
}

#itemswindow-itemslist {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid maroon;
    padding-left: 3px;
    font-weight: 550;
    outline: 0;
}


QListView::item {
    outline: 0;
}

#itemswindow-itemslist::item:selected {
    color: black;
    border: 0px;
    background-color: #eef;
}

#itemswindow-itemslist::item:focus {
    background-color: #ddf;

}


#item-add-namefield {
    padding: 5px;
    font-size: 12px;
    border: 1px solid maroon;
    border-radius: 5px;
    font-weight: 600;
}

#item-add-confirm-btn, #item-add-cancel-btn {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
}

#item-add-confirm-btn {
    background-color: green;
    color: white;
}

#item-add-cancel-btn {
    background-color: red;
    color: white;
}

/*________________________STOCK WINDOW__________________________-*/


#stock-list-frame {
    background-color: rgba(200, 200, 200, 0.2);
}

#stock-list-search {

}

#stock-item {
    background-color: rgba(200, 200, 200, 0.2);
    margin: 0px;
}

#stock-item::hover {
    background-color: rgba(200, 200, 200, 0.5)
}

#stock-item-area {
    padding: 0px;
}

#stock-items-container {
    padding-right: 0px;
}

#stock-itemarea-vscrollbar {

}


#stock-item-name {
    color: #4444ff;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 700;
}

#stock-item-count {
    color: #4444ff;
    font-family: "Barlow";
    font-size: 13px;
    font-weight: 300;
}

/*#stock-show-frame {
    border: 1px solid black;
}*/

#stock-item-search, #stock-list-search {
    border: 1px solid #5555ff;
    padding: 7px;
    border-radius: 5px;
}


#stock-item-add-button {
    background: url("./icons/plus_1.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 9px;
    border: 1px solid green;
    border-radius: 5px;
}

#stock-add-vbox, #stock-add-idbox, #stock-add-quantitybox, #stock-add-brandbox, #stock-add-basepricebox, #stock-add-mrpbox {
    padding: 3px;
    border: 1px solid black;
    font-size: 11px;
    border-radius: 5px;
}

#stock-add-addbutton, #stock-add-cancelbutton {
    background-color: #55f;
    border: 1px solid #44f;
    border-radius: 5px;
    color: white;
}

#stock-show-frame QTableView {
    outline: 0;
    font-size: 15px;
    font-weight: 600;
    outline: 0;
}

#stock-show-frame QTableView::item {
    outline: 0;
    background-color: transparent;
    border: 0px;
    color: #55f;
}

#stock-show-frame QTableView::item:hover {
    border: 1px solid blue;
}

#stock-show-frame QHeaderView::section {
    color: maroon;
    background-color: #efefff;
    font-weight: 1000;
    border: 0px;
    padding-left: 10px;
    max-width: 10px;
}

#stock-show-frame QHeaderView::section:pressed {
    background-color: red;
    color: white;
}

#stock-item-increment-button, #stock-item-decrement-button, #stock-item-delete-button {
    padding: 10px;
    border: 1px solid;
    font-size: 25;
    font-weight: 700;
    outline: 0;
}

#stock-item-delete-button {
    border-color: red;
    color: red;
}

#stock-item-increment-button {
    border-color: green;
    color: green;
}

#stock-item-decrement-button {
    border-color: orange;
    color: orange;
    font-size: 25px;
}

#stock-item-increment-button::hover {
    background-color: lightgreen;
    color: darkgreen;
}

#stock-item-decrement-button::hover {
    background-color: orange;
    color: white;
}

#stock-item-delete-button::hover {
    background-color: red;
    color: white;
}

/*_______________________ EntryHistory________________________*/

#entryhistorylistitem {
    border: 1px solid #ddd;
}

#entryhistorylistitem-vname {
    color: #44f;
    font-size: 20px;
    font-family: "Oswald";
}

#entryhistorylistitem-vnum {
    color: #555;
    font-size: 17px;
}

#entryhistorylistitem-date {
    color: #555;
    font-size: 16px;
}

#entryhistorylistitem-itemcount, #entryhistorylistitem-totalamount {
    color: #555;
    font-size: 20px;
}


#entryhistoryshow-heading, #entryhistoryshow-itemsheading {
    font-size: 20px;
    color: #44f;
    font-family: "righteous";
    border-radius: 0px;
    border-bottom: 1px solid #44f;
}


#entryhistoryshow-vname_key,
#entryhistoryshow-vnum_key,
#entryhistoryshow-cinfo_key,
#entryhistoryshow-date_key,
#entryhistoryshow-time_key,
#entryhistoryshow-itemcount_key,
#entryhistoryshow-totalamount_key {
    color: #44f;
    font-size: 18px;
    font-family: "Oswald";
}


#entryhistoryshow-vname_val,
#entryhistoryshow-vnum_val,
#entryhistoryshow-cinfo_val,
#entryhistoryshow-date_val,
#entryhistoryshow-time_val,
#entryhistoryshow-itemcount_val,
#entryhistoryshow-totalamount_val {
    color: #555;
    font-size: 18px;
    font-family: "Oswald";
}

#entryhistoryshow-table {
    outline: 0px;
    font-size: 20px;
    font-family: "Barlow";
    color: #55f;
    font-weight: 300;
}

#entryhistoryshow QTableView::item {
    border: 0;
    padding: 10px;
}

#entryhistoryshow QHeaderView::section {
    font-size: 15px;
    color: maroon;
    font-weight: 500;
}


